{% extends 'base.html.twig' %}

{% block title %}Mon image{% endblock %}

{% block body %}
    <h1>Mon image</h1>
    <img src="{{ asset('imgs/'~ image)|imagine_filter('vignette') }}" alt="Bateau">
{% endblock %}